.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logoItems {
  width: 80px;
  height: 76px;
}

.nav-items > ul {
  display: flex;
  font-size: 24px;
  list-style-type: none;
}
.nav-items > ul > * {
  padding: 0px 10px;
  margin-right: 10px;
}

.nav-items >  ul{
  padding: 0px 10px;
  margin-right: 10px;
}


.options-bar {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  margin-left: 10px;;
}

.res-containter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.res-card {
  padding: 5px;
  background-color: rgb(227, 250, 250);
  width: 250px;
  margin: 15px;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.res-title {
  display: flex;
  text-align: left;
  font-size: 20px;
  overflow: hidden;
}

.res-item {
  display: inline-flexbox;
  flex-shrink: inherit;
}

.res-image {
  align-items: center;
  width: 250px;
}

.fa-star {
  color: rgb(255, 0, 0);
}

.space {
  margin-left: 20px;
}